# Node modules
/node_modules

# Compilation output
/dist

# pnpm deploy output
/bundle

# Hardhat Build Artifacts
/artifacts

# Hardhat compilation (v2) support directory
/cache

# Typechain output
/types

# Hardhat coverage reports
/coverage

.env
.vscode
.wake

/synthia-agents/generated_seeds.txt
/synthia-agents/venv
/synthia-agents/generate_seeds.py

Z.md
Z2.md
Z3.md
